<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cambia tus tasas!</title>
  <style>
    .iframe-div {
      height: 80vh;
      margin: 30px;
      padding: 10px;
      border: 1px solid rgb(185, 185, 185);
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <div>

  </div>
  <div class="iframe-div">
    <iframe
      allow='autoplay; fullscreen; picture-in-picture; camera; microphone; display-capture'
      allowFullScreen
      allowtransparency='true'
      referrerPolicy='no-referrer-when-downgrade'
      aria-label='Vidyard video player'
      frameBorder='0'
      height='100%'
      width='100%'
      scrolling='no'
      src='https://docs.google.com/spreadsheets/d/10QLzk1rtVaXeidrbpItHKXH2YmNMLflslhPGuAgoQLE/edit#gid=0'
      title='Vidyard video player'
    />
  </div>
</body>
</html>

